@media only screen and (max-width:400px){
  
 .opts{
  display: block;
 width: 150px;
 
 }
}

@media only screen and (min-width:400px){
   
   .opts{
    display: block;
   width: 250px;
   
   }
  }
  